@use 'variables';
$mobile: 550px;
$tablet: 820px;
$desktop: 1024px;


@mixin screen-size($device) {
    @if $device == mobile {
        @media (max-width: #{$mobile}) {
            @content;
        }
    }@else if $device == tablet {
        @media (max-width: #{$tablet}) {
            @content;
        }
    }@else if $device == desktop {
        @media (max-width: #{$desktop}) {
            @content;
        }
    }
}

// modo preparo e ingredientes
@mixin card-receita{
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    padding: 20px 50px;
    border: 1px solid variables.$border-color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.068);
    background-color: variables.$bg-card;
    border-radius: 10px;
}