$primary-color: #F97415;
$hover-color: #d36517;
$disabled: rgb(206, 206, 206);
$erro-bg: #f55757;
$secondary-color: #0C0A09;
$bg-home: #F8F8F6;
$bg-card: #FFFFFF;
$border-color: #e2e8f0;
$stars: #FACC15;
$sucesso-bg: #5acf4a;