@use "sass:color";
@use '../variables.scss';
@use '../mixins.scss';

.receita-feedback {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    
    .avaliacao, .fomulario-comentarios {
        background-color: variables.$bg-card;
        border-radius: 10px;
        padding: 20px 30px;
        border: 1px solid variables.$border-color;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.068);
    }

    .avaliacao {
        p {
            padding: 10px 0;
        }
        .stars {
            .preenchida, .vazia {
                padding: 2px;
            }
            
            .preenchida, .vazia {
                color: variables.$stars;
            }
            
            .estrela {
                cursor: pointer;
                display: inline-block;
                font-size: 1rem;
                width: 24px;
            }
        }
    }

    .fomulario-comentarios, .fomulario-comentarios form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .fomulario-comentarios form {
        .btn {
            border: none;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }

        textarea {
            padding: 5px;
            font-size: 1rem;
        }
    }

    .fomulario-comentarios {
        max-height: 600px;
        overflow-y: scroll;
        ul {
            list-style: none;

            li {
                display: inline-block;
                width: 100%;
                border-top: 1px solid variables.$border-color;
                padding: 20px 0;
                .perfil {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .nome {
                        font-size: 1.1rem;
                    }
                }
                
            }
        }

        .ultimos-comentarios {
            li{
                    word-wrap: break-word;
            }
        }
    }
}